body	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	line-height: 1.6em;
	width: 1000px;
	margin: 0 auto;
	text-align: justify;
	background-color: rgb(231, 220, 232);
}
footer {
	font-size: 50%;
	text-align: center;
	line-height: normal;
	margin-top: 30px;
	margin: 0 auto;
	padding-top: 30px;
}
h1, h2 {
	color: #007e7e;
}
h1 {
	font-size: 150%;
	text-decoration: underline chocolate;
}
h2 {
	font-size: 130%;
}

ul	{
	text-align: left;
}   /* здесь может быть правило для CSS, всегда можно использовать более приоритетный селектор и задавть ему свои свойства */
#garantiya {
	border: #fff 1px dashed;
	border-radius: 25px;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	margin-right: 250px;
	line-height: 1.9em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #444;
	background: #a7cece url(../images/background.gif) no-repeat top left;
}
#elixirs {
	border: 1px solid #007e7e;
	width: 200px;
	text-align: center;
	line-height: 1;
	padding: 0px 20px 20px 20px;
	margin-left: 20px;
	background: url(../images/cocktail.gif) repeat-x;
	float: right;   /* что-то новое */
}
#elixirs h2 {
	color: black;
}
#elixirs h3 {
	color: red;
}

.cd {
	font-style: italic;
}
.artist {
	font-weight: bold;
}
#elixirs a:link {
	color: #007e7e;
}
#elixirs a:visited {
	color: #333;
}
#elixirs a:hover {
	background: #f88396;
	color: #0d5353;
}
a:link {
	color: #007e7e;
}
a:visited {
	color: #333;
}